<html>
<head>
<title>CEA ResetPassword</title>
<style>
#pwd,#confirmpwd
{
font-size:120%;
position:fixed;
left:35%;
}
#password,#confirmPassword
{
position:fixed;
right:35%;
}
#button
{
font-size:100%;
position:fixed;
left:46%;
}
</style>
</head>
<body>
<form name="resetpassword" id="resetpassword" method=POST>
	 <center><h1><b>Customer Engagement App Reset password</b></h1></center><br><br><br>
        <label id=pwd name=pwd>Password </label><input type="password" placeholder="Password" id="password" name="password" required><br> <br><br>
        <label id=confirmpwd name=confirmpwd>Confirm Password <input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" required><br><br><br>
    <input type=button onclick="validatepassword()" name=button id=button  value=submit>
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script  th:inline="javascript">
    function validatepassword()
    {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    // var url=decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent("token").replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
    if(password != confirmPassword) {
    alert("Passwords are not Matching, Enter the correct password in both the fields");
       }
    else
    {
    	location.href=[[${url}]];
    }
    }
   </script>
</form>
</body>
</html>